name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: cargo build --verbose --target x86_64-pc-windows-msvc --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Zoom.dll
          path: target/x86_64-pc-windows-msvc/release/Zoom.dll
